<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/fanpage/socket.js"></script>
<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="full-container">
      <div class="peers fxw-nw pos-r">
        <div class="peer bdR" id="chat-sidebar">
          <div class="layers h-100">
            <div class="bdB layer w-100"><input type="text" placeholder="Search contacts..." name="chatSearch"
                class="form-constrol p-15 bdrs-0 w-100 bdw-0"></div>
            <div id="list-user" class="layer w-100 fxg-1 scrollable pos-r">
              {{#each users}}
              <div id="{{_id}}" onclick="javascript: window.location.replace('/user/{{_id}}');"
                class="user {{#if isActive}}user-active{{/if}} peers fxw-nw ai-c p-20 bdB bgcH-grey-50 cur-p">
                <div class="peer"><img src="{{profile_pic}}" alt="" class="w-3r h-3r bdrs-50p"></div>
                <div id="{{_id}}-notice" class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">{{last_name}}&nbsp;{{first_name}}</h6><small
                    class="lh-1 c-green-500">Online</small>
                </div>
              </div>
              {{/each}}
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">Moo Doe</h6><small class="lh-1 c-amber-500">Away</small>
                </div>
              </div>
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">Adam Jones</h6><small class="lh-1 c-grey-500">Offline</small>
                </div>
              </div>
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/4.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">Mizo Doe</h6><small class="lh-1 c-red-500">Busy</small>
                </div>
              </div>
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/1.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">John Doe</h6><small class="lh-1 c-green-500">Online</small>
                </div>
              </div>
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">Moo Doe</h6><small class="lh-1 c-amber-500">Away</small>
                </div>
              </div>
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">Adam Jones</h6><small class="lh-1 c-grey-500">Offline</small>
                </div>
              </div>
              <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer"><img src="https://randomuser.me/api/portraits/men/4.jpg" alt=""
                    class="w-3r h-3r bdrs-50p"></div>
                <div class="peer peer-greed pL-20">
                  <h6 class="mB-0 lh-1 fw-400">Mizo Doe</h6><small class="lh-1 c-red-500">Busy</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="peer peer-greed" id="chat-box">
          <div class="layers h-100">
            <div class="layer w-100">
              <div class="peers fxw-nw jc-sb ai-c pY-20 pX-30 bgc-white">
                <div class="peers ai-c">
                  <div class="peer d-n@md+"><a class="sidebar-toggle" href="javascript:void(0);" title=""
                      id="chat-sidebar-toggle" class="td-n c-grey-900 cH-blue-500 mR-30"><i class="ti-menu"></i></a>
                  </div>
                  <div class="peer mR-20"><img src="{{user.profile_pic}}" alt="" class="w-3r h-3r bdrs-50p"></div>
                  <div class="peer">
                    <h6 class="lh-1 mB-0">{{user.last_name}}&nbsp;{{user.first_name}}</h6><i
                      class="fsz-sm lh-1">Typing...</i>
                  </div>
                </div>
                <div class="peers"><a href="" class="peer td-n c-grey-900 cH-blue-500 fsz-md mR-30" title=""><i
                      class="ti-video-camera"></i> </a><a href="" class="peer td-n c-grey-900 cH-blue-500 fsz-md mR-30"
                    title=""><i class="ti-headphone"></i>
                  </a><a href="" class="peer td-n c-grey-900 cH-blue-500 fsz-md" title=""><i class="ti-more"></i></a>
                </div>
              </div>
            </div>
            <div class="layer w-100 fxg-1 bgc-grey-200 scrollable pos-r">
              <div class="p-20 gapY-15" id="msg-content">
                {{#each msg}}
                {{#if active}}
                <div class="peers fxw-nw">
                  <div class="peer mR-20"><img class="w-2r bdrs-50p" src="{{@root.user.profile_pic}}" alt=""></div>
                  <div class="peer peer-greed">
                    <div class="layers ai-fs gapY-5">
                      <div class="layer">
                        <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                          <div class="peer mR-10"><small>{{timestamp}}</small></div>
                          <div class="peer-greed"><span>{{message.text}}</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="peers fxw-nw ai-fe">
                  <div class="peer ord-1 mL-20"><img class="w-2r bdrs-50p"
                      src="https://randomuser.me/api/portraits/men/3.jpg" alt=""></div>
                  <div class="peer peer-greed ord-0">
                    <div class="layers ai-fe gapY-10">
                      <div class="layer">
                        <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                          <div class="peer mL-10 ord-1"><small>{{timestamp}}</small></div>
                          <div class="peer-greed ord-0"><span>{{message.text}}</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/if}}
                {{/each}}
              </div>
            </div>
            <div class="layer w-100">
              <div class="p-20 bdT bgc-white">
                <div class="pos-r">
                  <input id="text" onkeydown="javascript: if (event.keyCode == 13) sendMessage();" name="text"
                    type="text" class="form-control bdrs-10em m-0" placeholder="Say something...">
                  <button id="btnChat" onclick="sendMessage()" type="submit"
                    class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1"><i
                      class="fas fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="peer" style="width: 25%" id="chat-sidebar">
           <div class="layers">
            <div class="bdB layer w-100 text-center"><h2>Tạo hóa đơn</h2></div>
           </div>
          <div class="container-fluid">
            <form id="formAddOrder" method="POST">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="tenkhachhang">
                    <b>Tên khách hàng</b>
                  </label>
                  <input type="text" class="form-control" name="TenKhachHang" id="tenkhachhang" autofocus required>
                  <label for="sodienthoai">
                    <b>Số điện thoại</b>
                  </label>
                  <input type="text" class="form-control" name="SDTKhachHang" id="sodienthoai" required>
                  <label for="sodienthoai">
                    <b>Địa chỉ</b>
                  </label>
                  <input type="text" class="form-control" name="DiaChiKhachHang" id="address" required>
                  <div class="card mt-3">
                    <div class="card-header"><b>Chọn sản phẩm</b></div>
                    <div class="card-body">
                      <div class="card-text" id="choose-products">
                        {{#each lcProduct}}
                        <div class="product col-md-12 row">
                          <input onmouseup="UpdateTotalPrice()" onkeyup="UpdateTotalPrice()" value="0"
                            onscroll="UpdateToTalPrice()" id="{{Gia}}-{{MaSanPham}}" min="0" type="number"
                            class="form-control col-md-3 price" required>
                          <span class="col-md-9 mt-1">{{MaSanPham}} - {{Ten}} -
                            <span>{{Gia}}</span> </span>
                        </div>
                        {{/each}}
                      </div>
                      <h4 class="mt-5">Tổng giá: <b class="ml-1" id="tmp-total"> </b></h4>
                    </div>
                  </div>
                  <input value="0" name="TongGia" id="total-price" style="display: none;">
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2 ml-2 mb-3">
                Create new order</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>
<script>

  function sendMessage() {
    var msg = $('#text').val();
    //append
    appendMessage(msg);

    $('#text').val("");

    var message = {};
    message.text = msg;
    var active = $('.user-active');
    var user_id = active.attr('id');
    $.ajax({
      url: '../message/' + user_id,
      method: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(message),
      success: value => {
        console.log('Success send new message');
      },
      error: error => {
        console.log('Failed to send message, Err: ' + error);
      }
    })
    return false;
  }

  function appendMessage(msg) {
    var now = moment().format("DD/MM/YYYY hh:mm");
    var element = `<div class="peers fxw-nw ai-fe" >
      <div class="peer ord-1 mL-20" > <img class="w-2r bdrs-50p"
        src="https://randomuser.me/api/portraits/men/3.jpg" alt=""></div>
        <div class="peer peer-greed ord-0">
          <div class="layers ai-fe gapY-10">
            <div class="layer">
              <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                <div class="peer mL-10 ord-1"><small>` + now + `</small></div>
                <div class="peer-greed ord-0"><span>` + msg + `</span></div>
              </div>
            </div>
          </div>
        </div>
      </div >`;
    $('#msg-content').append(element);

  }
</script>
<script>
    $('.price').bind('keyup mouseup', UpdateTotalPrice());

    var products = [];
    function UpdateTotalPrice() {
        var prices = $('.price');
        var total = 0;
        for (var i = 0; i < prices.length; i++) {
            var amount = Number(prices[i].value);
            var tmp = prices[i].getAttribute("id");
            var spl = tmp.split('-');
            var price = Number(spl[0]);
            var code = spl[1];
            total += price * amount;
            console.log(total);
            if (amount > 0 && !CheckExist(code)) {
                var object = {};
                object['amount'] = amount;
                object['code'] = code;
                products.push(object);
                console.log(products);
            }
        }
        $('#tmp-total').text(total);
        $('#total-price').val(total);
    }

    function CheckExist(code) { 
        for (var i = 0; i < products.length; i++) {
            console.log(products[i]);
            if (products[i].code === code) return true;
        }
        return false;
    }

    $('#formAddOrder').submit(function(e) {
        e.preventDefault();
        var form = $(this).serializeArray();

        console.log(form);
        $.ajax({
            url: '/admin/orders/add',
            method: 'POST',
            dataType: 'json',
            contenType: 'application/json',
            data: { "form" : JSON.stringify(form), "products": JSON.stringify(products) },
            success: (value => {
                console.log('success');
                window.location.replace('/');
            }),
            error: (error => {
                console.log(error);
                window.location.replace('/');
            })
        });
    });
</script>